# Copy this file to .env and fill in your local values.
MONGODB_URI=
JWT_SECRET=
GOOGLE_AI_KEY=

# Redis Configuration (Choose either REDIS_URI or individual details)
# Option A: Single Connection URI
REDIS_URI=

# Option B: Individual host/port credentials
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
